* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent {
    border: 2px dotted black;
    display: inline-block;
}
.box {
    display: inline-block;
    background-color: blue;
    width: 120px;
    height: 120px;
}
#two {
    background-color: green;
}